/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "~swiper/scss";
@import "~swiper/scss/pagination";

:root {
	--testimonial-star-color: #fff;
	--testimonial-star-background: #fc0;
	--testimonial-star-rating: 0;
}

/* Hide the testimonials by default */
.testimonial {
	display: flex;
	flex-direction: column;
	padding-bottom: 2.5em;
}

// fix swiper on grid layouts
.swiper-grid {
	display: grid;
}

.swiper-grid > .swiper {
	width: 100%;
}


.image-wrap,
.testimonial-rating,
.testimonial-content,
.reviewer,
.jobrole {
	padding: 8px 12 px;
	width: 100%;
	text-align: center;
}

.testimonial-rating.stars {
	--testimonial-star-percent: calc(var(--testimonial-star-rating) / 5 * 100%);

	display: inline-block;
	text-align: center;
	width: 100%;

	&::before {

		display: inline-block;
		clear: both;
		content: "\2605\2605\2605\2605\2605";
		letter-spacing: 3px;
		background: linear-gradient(90deg, var(--testimonial-star-background) var(--testimonial-star-percent), var(--testimonial-star-color) var(--testimonial-star-percent));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.image-wrap img {
	border-radius: 25%;
	display: inline;
}

.testimonial-dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin: 0 2.5px;

	&.active,
	&:hover {
		background-color: #717171;
	}
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
